
header {
  text-align: center;
  background: url('../img/concert02_no_text.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  height: 350px;
  color: #000;
  text-transform: uppercase;
}

header h1 {
  font-size: 3em;
}

header p {
  font-weight: bold;
  font-size: 1.6em;
}


.tag {
  color: black;
  padding: 10px;
  letter-spacing: 5px;
}

.name{
  font-weight: 300;
}

header .name{
  font-size: 3em;
}
.tagline {
  font-weight: 600;
  padding: 20px;
  text-transform: uppercase;
  color: #72F060;
}

.card {
  margin: 30px;
  padding: 20px 40px 40px;
  text-align: left;
  border-top: 4px solid #72F060;
  clear: both;
  position: relative;
}

.card:hover {
  /*background: #333;*/
}

.photo{
  /*display: block;*/
  margin: 0 auto;
  width: 100%;
}

.information{
  width: 100%;
  text-align: center;
}

.heading{
  font-size: 2em;
  text-transform: uppercase;
  color: #72F060;
  margin-top: 10px;
}

.buy {
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
}

.buy:hover {
  background: #72F060;
  border-color: #72F060;
  color: #000;
  cursor: pointer;
  text-decoration: none;
}



/*****************************
  Footer styles
*****************************/
footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -20000px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}

a.twitter {
  background-image: url(../img/twitter-32.png);
}

a.youtube {
  background-image: url(../img/youtube-32.png);
}

a.spotify {
  background-image: url(../img/spotify-32.png);
}

a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}
