/*****************************
  Tour page styles
*****************************/

.tour-page {
  margin: 10px 5px;
}

.tour-dates {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.tour-dates .heading {
  display: inline;
}

.pick {
  display: inline;
  width: 40px;
  padding: 10px;
  vertical-align: text-bottom;
}

.tour-dates-table {
  width: 100%;
  text-align: left;
  font-size: 1.2em;
}

.tour-dates-table caption {
  padding: 10px 0px 20px;
}

.tour-dates-table thead {
  color: #72F060;
}

.tour-dates-table th,
.tour-dates-table td {
  padding: 10px;
}

.tour-dates-table tbody {
  background: #333;
}
