/*****************************
  Tour page styles
*****************************/
pre {
  font-family: 'Open Sans', sans-serif;
}

.tour-dates {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.heading {
  display: inline-block;
  margin: 0;
}

.pick{
  width: 40px;
  height: 0%;
  padding: 10px;
}

.tour-dates-table {
  width: 100%;
  text-align: left;
  font-size: 1.2em;
}

.tour-dates-table caption {
  padding: 10px 0px 20px;
}

.tour-dates-table thead {
  color: #72F060;
}

.tour-dates-table th,
.tour-dates-table td {
  padding: 10px;
}

.tour-dates-table tbody {
  background: #333;
}
